body {
    background-color: white;
}

.mainContent {
    background-color: white;
}

textarea {
    resize: none;
}

button {
    cursor: pointer;
}


input[type=radio]:hover {
    cursor: pointer;  
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.selected {
    background-color: #353535;
    color: white;
}

.active2 .page-link {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


